body {
  font-family: "Space Grotesk", sans-serif;
}

::placeholder {
  color: hsl(270, 3%, 87%);
}

main {
  display: flex;
}

.background {
  flex-basis: 40%;
}

.form-wrapper {
  display: grid;
  place-items: center;
}

.img {
  max-width: 100%;
  display: block;
}