body {
  font-family: "Space Grotesk", sans-serif;
}

::placeholder {
  color: hsl(270, 3%, 87%);
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
  gap: clamp(1rem, 1vw, 4rem);
  place-items: center;
  min-height: 100vh;
  padding: 3.5rem;
  background-size: contain;
  /* background-position: -15%; */
}

.cards {
  grid-column: 2;
}

.card-form,
.success {
  grid-column: 3;
}

.success {
  display: grid;
  gap: 1rem;
  place-items: center;
  width: min(90%, 20rem);
}

.success .button {
  width: 100%;
  text-transform: capitalize;
}

.img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
}

.success-header {
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  font-weight: 100;
}

.success-text {
  color: hsl(279, 6%, 55%);
}

@media (max-width: 700px) {
  main {
    grid-template-columns: minmax(2rem, 1fr) minmax(0, 25rem) minmax(2rem, 1fr);
    padding-inline: 0;
  }

  .cards {
    grid-column: 2;
  }

  .card-form,
  .success {
    grid-column: 2;
  }
}